<h1>Update data</h1>
<h3>*introduce solo los datos que deceas actualizar</h3>
<div>
  <label>Name:{{userEdited.name}} </label><br>
  <label>* :</label>
  <input type="text" [(ngModel)]='userEdited.name' ><br><br>
</div>
<div>
  <label>Last Name:{{userEdited.lastname}} </label> <br>
  <label>*:</label>
  <input type="text" [(ngModel)]='userEdited.lastname' ><br><br>
</div>
<div>
  <label>User Name:{{userEdited.username}}</label> <br>
  <label>* :</label>
  <input type="text" [(ngModel)]='userEdited.username' ><br><br>
</div>
<div>
  <label>Password:*********</label> <br>
  <label>* :</label>
  <input type="password" [(ngModel)]='userEdited.password' ><br><br>
</div>
<div>
  <label>E-mail:{{userEdited.email}}</label> <br>
  <label>* :</label>
  <input type="email" [(ngModel)]='userEdited.email' ><br><br>
</div>
<div>

  <button href [routerLink]= "'/user/list'">Cancel</button>
  <button (click)='UpdateUser()'>Update </button>


</div>
