<div>
  <span>
    <button href [routerLink]= "'/'">Home</button>
  </span>
  <span>
    <button href [routerLink]= "'/user/list'">User List</button>
  </span>
  <span>
    <button href [routerLink]= "'/article/list'">Article List</button>
  </span>
  <span>
    <button href [routerLink]= "'/user/create'">Create User</button>
  </span>
  <span>
    <button href [routerLink]= "'/user/login'">Login</button>
  </span>
  <span>
    <button href [routerLink]= "'/user/information'">My Personal information</button>
  </span>
</div>
